html,body,div,span,iframe,map,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th,input,textarea{padding:0;margin:0;border:0;font-family: Microsoft YaHei;}
ul,li{list-style:none;}
.clear{clear: both;}

/*头部开始*/
#Head{width: 100%;background: #fff;padding-top: 10px;box-shadow: 10px 0 100px 100px #ccc;}
#Head .content{width: 100%;height: 80px;margin: 0 auto;}
#Head .content .left{float: left;margin:6px 0 0 100px; }
#Head .content .left img{height: 60px;}
#Head .content .middle{height: 40px;padding-top: 15px;float: right;margin-right:100px;}
#Head .content .middle .a{display: block; padding:0 10px;text-decoration: none;color: #fff;
    font: 14px/24px "微软雅黑";background: #FF0033;border-radius: 5px;}
#Head .content .right{width: 586px;height: 40px;float: right;padding-top: 15px;margin-right:15px;position: relative;}
#Head .content .right .list .one{float: left;height: 30px; }
#Head .content .right .list .one .a{display: block;text-decoration: none;color: #555; padding:0 15px;
    font: 14px/24px "微软雅黑"; }
#Head .content .right .list .L8{border-bottom:4px solid #00b4ff; position: absolute;
    bottom: 0;transition: left,width 0.3s,0.5s;opacity:0;}
#Head .content .right .list li:nth-child(1):hover~.L8{left: 0px;width:60px;}    
#Head .content .right .list li:nth-child(2):hover~.L8{left: 63px;width:80px;} 
#Head .content .right .list li:nth-child(3):hover~.L8{left: 149px;width:80px;}
#Head .content .right .list .L8{left: 234px;width:80px;}
#Head .content .right .list li:nth-child(5):hover~.L8{left: 320px;width:80px;}
#Head .content .right .list li:nth-child(6):hover~.L8{left: 406px;width:80px;}
#Head .content .right .list li:nth-child(7):hover~.L8{left: 492px;width:80px;}
#Head .content .right .list .one:hover~.L8{opacity:1;}
/*头部结束*/

/*轮播图开始*/
#big{width:100%;height:600px;background:rgb(244,244,244);position:relative;}
#big .con{height:600px;margin:0 auto;position:relative;}
#big .con .pic{height:600px;position:relative;}
#big .con .pic a{width:100%;height:550px;padding-top: 50px;text-decoration: none; position:absolute;display:none;}
#big .con .pic .a1{background: url(../img/agent-banner-1.png) no-repeat center;}
#big .con .pic .a2{background: url(../img/agent-banner-2.png) no-repeat center;}
#big .con .pic .a3{background: url(../img/agent-banner-3.png) no-repeat center;}
#big .con .list{width:54px;height:10px;position:absolute;
    bottom:15px;left:50%;margin-left:-27px;border-radius:12px;padding:7px 4px;z-index: 1;}
#big .con .list li{width:8px;height:8px;border:1px solid #fff;list-style:none;
    float:left;margin:0 4px;border-radius:50%;cursor:pointer;}
#big .con .list .hov{background:#fff;}
#big .con .but li{list-style:none;width:50px;height:70px;cursor:pointer;
    color:#fff;font-size:34px;text-align:center;line-height:70px;
    font-weight:700;position:absolute;top:245px;display:none;}
#big .con .but li:hover{background:rgba(0,0,0,.2);}
#big .con .but .left{left:100px;}
#big .con .but .right{right:100px;}
#big .con:hover .but li{display:block;}
#big .bottom{width:100%;height:50px;background: rgba(157,159,155,0.5);position: absolute;bottom: 0;}
#big .sig{width: 350px;height:500px;border-radius: 5px;background: #fff;box-shadow: 0 0 10px .1px #555;
	position: absolute;top:30px;right: 260px;padding:20px 50px;  }
#big .sig .top{border-bottom:1px solid #ccc; margin-bottom:20px;}
#big .sig .top .p1{font: 24px/34px Microsoft YaHei;color: #555;}
#big .sig .top .p1 a{text-decoration: none;float: right;font: 14px/14px Microsoft YaHei;color: #3baff7;margin-top:15px; }
#big .sig .top .p2{font: 18px/30px Microsoft YaHei;color: #555;margin-top:40px; }
#big .sig .top .p3{font: 16px/24px Microsoft YaHei;color: #555; }
#big .sig .top .p3 input{width: 318px;height: 40px;border-radius: 5px;border:1px solid #ccc;padding:0 15px;}
#big .sig .top .p4{font: 18px/30px Microsoft YaHei;color: #555;margin-top:10px; }
#big .sig .top .p5{font: 16px/24px Microsoft YaHei;color: #555; }
#big .sig .top .p5 input{width: 318px;height: 40px;border-radius: 5px;border:1px solid #ccc;padding:0 15px; }
#big .sig .top .p6{height: 40px;}
#big .sig .top .p6 input{font: 14px/14px Microsoft YaHei;color: #555;width: 15px;height: 15px;margin-top:15px;float: left; }
#big .sig .top .p6 label{font: 14px/14px Microsoft YaHei;color: #555;float: left;margin-top:15px;}
#big .sig .top .p6 a{text-decoration: none;float: right;font: 14px/14px Microsoft YaHei;color: #3baff7;margin-top:15px; }
#big .sig .top .p7{width: 252px; margin:25px auto 30px;}
#big .sig .top .p7 input{font: 18px/40px Microsoft YaHei;color: #000;width: 250px;cursor:pointer;
	border-radius: 5px;text-align: center;background: #43b6ff;color: #fff;outline:none;transition:background,box-shadow 0.2s,0.2s;}
#big .sig .top .p7 input:hover{background: #FF0033;box-shadow: 0 0 10px .1px #555;} 
#big .sig .middle{font: 14px/24px Microsoft YaHei;color: #555;margin:15px auto 5px; }
#big .sig .sig_bottom p{height: 50px;margin-right:23px;float: left;}
#big .sig .sig_bottom p a{text-decoration: none;float: left;font: 14px/24px Microsoft YaHei;color: #555;opacity:1;transition: all 0.2s;}
#big .sig .sig_bottom p:hover .a1{opacity:0.8;}
#big .sig .sig_bottom p .a2{padding-left: 3px;}
#big .sig .sig_bottom p .a1{width: 25px;height: 25px;background: url(../img/SignIn-bj.jpg) no-repeat;}
#big .sig .sig_bottom .p1 .a1{background-position: -303px -433px;}
#big .sig .sig_bottom .p2 .a1{background-position: 5px -433px;}
#big .sig .sig_bottom .p3 .a1{background-position: -23px -433px;}
#big .sig .sig_bottom .p4 .a1{background-position: -120px -433px;}
/*轮播图结束*

/*页面底部信息开始*/
#info{width: 100%;background:#fff;padding-top: 70px;}
#info .content{width: 1024px;margin: 0 auto;position: relative;border-bottom: 1px solid #555;}
#info .content .top{width: 438px;height: 106px;margin: 0 auto;}
#info .content .top a{width: 100px;height: 100px;border-radius: 50%;text-align: center;border: 3px solid #555;
    float: left;text-decoration: none;position: relative;margin:0 20px;}
#info .content .top a i{width: 100px;font: 50px/90px "微软雅黑";color: #555;position: absolute;top: 0;left: 0px;}
#info .content .top a .p1{width: 106px;height: 106px;position: absolute;top: -3px;left: -3px;border-radius: 50%;
    opacity:0;transition:opacity 0.3s;background: #00b4ff;}
#info .content .top .a .p1 .sp1{display: block; font:12px/20px "微软雅黑";color: #fff;margin-top:33px; }
#info .content .top .a .p1 .sp2{display: block; font:14px/20px "微软雅黑";color: #fff;}
#info .content .top .a1 .p1 .sp1{display: block;font:14px/20px "微软雅黑";color: #fff;margin-top:43px;}
#info .content .top .a3 .p2{width: 0px;height: 0px;position: absolute;top: 50%;left: 50%;
    transition:all 0.4s;background: #fff;z-index: -1;opacity:0;border: 3px solid #555;border-radius: 50%;}
#info .content .top .a3 .p2 img{width: 100%;height: 100%;}  
#info .content .top .a3:hover .p2{width: 200px;height:200px;z-index: 1;opacity:1;top: -250px;left: -55px;border-radius: 0;} 
#info .content .top a:hover .p1{opacity:1;}
#info .content .bottom{width: 1024px;}
#info .content .bottom .p1{font: 18px/24px "微软雅黑";color: #000;position: absolute;top: 40px;left: 50px;}
#info .content .bottom .p2{font: 18px/24px "微软雅黑";color: #000;position: absolute;top:40px;right: 30px;}
#info .content .bottom .p3{margin-top: 30px;}
#info .content .bottom .p3,#info .content .bottom .p4{color: #000;font: 14px/20px "微软雅黑";width: 700px;margin-left:290px; }
#info .content .bottom .p5{color: #000;margin: 5px auto 0;font: 14px/20px "微软雅黑";text-align: center;}
#info .content .bottom .p5 .a{text-decoration: none;color: #000;font: 14px/24px "微软雅黑";}
#info .content .bottom .p5 .a:hover{color: #00b4ff;}
/*页面底部信息结束*/

/*右侧固定定位开始*/
#fixed{width:50px;height: 204px;position: fixed;right: 10px;bottom:55px; }
#fixed .content{width:50px;height: 204px;}
#fixed .content li{width:50px;height:50px ;background: #B5B5B5;margin-bottom: 
1px;position: relative;}
#fixed .content li a{display: block; text-decoration: none;color:#fff;text-align: center; }
#fixed .content li a i{font:30px/50px Microsoft YaHei;}
#fixed .content li a .L1_content{width:198px;position: absolute; top:0;left: -198px;}
#fixed .content li a .L1_content div{width:188px;height: 88px;background: #fff;border: 1px solid rgba(200,200,200,0.8);}
#fixed .content li a .L1_content .img{position: absolute; top:25px;left: 189px;}
#fixed .content .L1 a .L1_content div span{display: block; width: 60px;height:60px;float: left;border:1px solid #ccc;border-radius: 50%;box-shadow: 0 0 10px #ccc inset;margin:14px 0  0 14px;}
#fixed .content .L1 a .L1_content div span img{display: block;width: 40px;margin: 5px auto;}
#fixed .content .L1 a .L1_content div p{width: 70px;color: #727272;float: left;margin:23px 0  0 14px;}
#fixed .content .L2 a .L1_content div p{width: 130px;color: #727272;text-align: left; float: left;line-height: 25px;  margin:19px 0  0 14px;margin-left: 30px;}
#fixed .content .L2 a .L1_content div p span{color:#43b6ff;}
#fixed .content .L3 a .L1_content{top:-102px;}
#fixed .content .L3 a .L1_content div{height: 210px;}
#fixed .content .L3 a .L1_content .img{top:127px;}
#fixed .content .L3 a .L1_content div span{display: block;margin:10px auto;margin-bottom: 0px;}
#fixed .content .L3 a .L1_content div span img{width: 165px;}
#fixed .content .L3 a .L1_content div p{width: 165px;color: #727272;font-size: 12px; margin: 0 auto;}
#fixed .content li a .L1_content{display: none;}
#fixed .content li:hover a i{color: #43b6ff;}
#fixed .content li:hover a .L1_content{display:block;}
/*右侧固定定位结束*/

/*版权开始*/
#copy{width: 100%;background: #fff;}
#copy .content {width: 1024px;height: 90px;margin:0 auto;padding-top:5px;text-align: center; }
#copy .content .p1{font: 14px/24px Microsoft YaHei;color: #000;}
#copy .content .p2{font: 14px/24px Microsoft YaHei;color: #000;}
#copy .content .p2 a{text-decoration: none;color: #000;}
/*版权结束*/