
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-dianhua:before { content: "\e600"; }
.icon-qq:before { content: "\e601"; }
.icon-yanjing:before { content: "\e60b"; }
.icon-fangan:before { content: "\e630"; }
.icon-lianxiren:before { content: "\e602"; }
.icon-taix:before { content: "\e612"; }
.icon-gongsi:before { content: "\e620"; }
.icon-youxiang:before { content: "\e603"; }
.icon-shouji:before { content: "\e604"; }
.icon-zijinmingxi:before { content: "\e624"; }
.icon-zhuye:before { content: "\e625"; }
.icon-qiyeyingyezhizhao:before { content: "\e621"; }
.icon-youxiang1:before { content: "\e605"; }
.icon-ziyuan:before { content: "\e61d"; }
.icon-add:before { content: "\e626"; }
.icon-gaoxiao:before { content: "\e616"; }
.icon-weixin:before { content: "\e606"; }
.icon-chongzhi:before { content: "\e627"; }
.icon-erweima:before { content: "\e607"; }
.icon-jiaoliu:before { content: "\e631"; }
.icon-tongxunlu:before { content: "\e628"; }
.icon-center:before { content: "\e629"; }
.icon-yingxiaohuodong:before { content: "\e62a"; }
.icon-tel:before { content: "\e608"; }
.icon-qushiyanshi:before { content: "\e632"; }
.icon-shenqing:before { content: "\e61a"; }
.icon-serve:before { content: "\e617"; }
.icon-xiangyou:before { content: "\e622"; }
.icon-yinle:before { content: "\e62b"; }
.icon-xiangzuo:before { content: "\e623"; }
.icon-xinlang:before { content: "\e609"; }
.icon-jiantou:before { content: "\e60c"; }
.icon-icon4:before { content: "\e618"; }
.icon-app:before { content: "\e610"; }
.icon-gongjiao:before { content: "\e613"; }
.icon-bangzhu:before { content: "\e62c"; }
.icon-icon:before { content: "\e62e"; }
.icon-wangzhan:before { content: "\e611"; }
.icon-dizhi:before { content: "\e615"; }
.icon-dianzan:before { content: "\e61e"; }
.icon-3333333:before { content: "\e619"; }
.icon-chuangyixiangfa:before { content: "\e60e"; }
.icon-yonghuxieyi:before { content: "\e61b"; }
.icon-chuanzhen:before { content: "\e614"; }
.icon-shubiao:before { content: "\e60f"; }
.icon-shenhe:before { content: "\e61c"; }
.icon-shezhi:before { content: "\e62d"; }
.icon-sjpz1:before { content: "\e61f"; }
.icon-iconfonti2-copy:before { content: "\e60a"; }
.icon-biao:before { content: "\e60d"; }
.icon-xiangyoujiantou:before { content: "\e62f"; }
